.scoreboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: rgba(0, 128, 0, 0.404);
  border: 3px solid rgba(146, 40, 1, 0.753);
  border-radius: 20%;
  width: 150px;
  height: 100px;
  justify-content: space-evenly;
}
